body {
    margin:             0px; 
    padding:            0px;
    font-family: sans-serif
}

game * {
    position:           absolute;
    display:            block;
    box-sizing:         border-box;
    background-repeat:  no-repeat;
}

/* ---------- START DEBUG PANEL ---------- */
debug-panel {
    position:           absolute;
    top:                10px;
    right:              10px;
}
/* ---------- END DEBUG PANEL ------------ */
